Flask
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
faiss-cpu
requests
pypdf
unstructured
huggingface-hub
numpy
scikit-learn
sentence-transformers
gunicorn